body {
	text-align: center;
	background-color: #FF9754;
	font-family: Georgia, serif;
	color: black;
}
.container {
	width: 200px;
	margin: auto;
}
.welcome {
	background-color: #FFEB6B;
	margin: 10px;
}
.menu {
	background-color: #FFEB6B;
	border-radius: 15px;
	margin: 10px;
}
.menu:nth-child(odd) .item{
	background-color: #B3FF86;
	border-radius: 10px;
}