body {
	text-align: center;
	background-color: #FFFEFD;
	font-family: Georgia, serif;
	color: black;
}
.container {
	width: 200px;
	margin: auto;
}
.welcome {
	background-color: #FFFEFD;
	margin: 10px;
	padding-bottom: 20px;
	border-radius: 20px;
}
.menu {
	background-color: #FFFEFD;
	border-radius: 15px;
	margin: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.menu:nth-child(odd) {
	background-color: #E8B393;
	border-radius: 10px;
}