body {
	background-color: #070707;
	font-family: Georgia, serif;
	color: white;
}
h2, p {
	margin: 5px;
	padding: 2px;
}
a {
	color: white;
}
h1 {
	padding: 15px;
}
.container {
	width: 300px;
	margin: auto;
	margin-top: 30px;
}
.welcome {
	background-color: #4C1B54;
	margin: 10px;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}
.menu {
	background-color: #222222;
	border-radius: 15px;
	margin: 10px;
}
.menu a:nth-child(even) .item {
	background-color: #00A17B;
}
.item {
	padding: 20px;
}
