/*
	Created by Hannes Nyberg
	hannes.nyberg@gmail.com
	https://github.com/hnyberg
*/
html {
	background: url(night.png) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  	background-size: cover;
	background-color: #111;
}
#resultsMain {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
}
#movieMain, #productMain {
	margin: auto;
	margin-top: 20px;
}
main, footer {
	text-align: center;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
}
#movieMain, #productMain, footer {
	width: 500px;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.8);
}
.title {
	color: #BEE;
}
table {
	margin: auto;
}
#ratingTable {
	width: 200px;
}
#searchTable {
	margin: auto;
	text-align: right;
}
.item {
	text-align: left;
	margin: auto;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.7);
}
h1, h2, h3, p, a, td, label {
	color: #FB7;
	font-family: Tahoma, Geneva, sans-serif;
}
h1 {
	font-size: 35px;
}

/* Adjust flex positioning */
@media (max-width: 800px) {
	#resultSection {
		/*width: 500px;*/
	}
}
@media (min-width: 801px) {
	#resultSection {
		/*width: 500px;*/
	}
}
/* Adjust background size */
@media (min-width: 371px) {
	body {
		background-size: cover;
	}
}
@media (max-width: 370px) {
	body {
		background-size: initial; 
	}
}