body {
	background-image: url("http://i.imgur.com/sFhLQ4O.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #700300;
	font-family: Georgia, serif;
	color: white;
	text-align: center;
}
.container {
	width: 400px;
	margin: auto;
	margin-top: 30px;
}
.heading {
	background-color: #700300;
	margin: 10px;
	margin-bottom: 30px;
	padding: 15px;
	border-radius: 10px;
}
.menu {
	background-color: #222222;
	border-radius: 15px;
	margin: 10px;
}
.item {
	margin: 10px;
	padding: 15px;
}