/*
	Created by Hannes Nyberg
	hannes.nyberg@gmail.com
	https://github.com/hnyberg
*/
body {
	background-image: url("http://i.imgur.com/5CJB5zB.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #112211;
	font-family: Georgia, serif;
	color: white;
	text-align: center;
}
a {
	color: white;
}
.container {
	width: 320px;
	margin: auto;
	margin-top: 30px;
}
.heading, .menu, .item, .contact {
	background-color: #334433;
	opacity: 0.9;
	border-radius: 15px;
	border-bottom: solid black 3px;
	margin: 10px;
	padding: 5px;
}
.menu {
	margin-bottom: 25px;
	margin-top: 25px;
}
.contact {
	padding-top: 10px;
	padding-bottom: 10px;
}
input, button {
	margin: 5px;
	width: 100px;
	background-color: #CCFFCC;
}
#forest {
	list-style-type: none;
	margin: 10px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}
.tree {
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 25px;
	border-radius: 25px;
	margin: 5px;
	border-bottom: solid black 2px;
	list-style-type: none;
}
.burn {
	box-shadow: 0 0 8px #DD9933;
	background-color: #DD9933;
	color: #DD9933;
}