/*
	Created by Hannes Nyberg
	hannes.nyberg@gmail.com
	https://github.com/hnyberg
*/
body {
	background-image: url("http://i.imgur.com/5CJB5zB.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #112211;
	font-family: Georgia, serif;
	color: white;
	text-align: center;
	font-size: 120%;
}
a {
	color: white;
}
.container {
	width: 300px;
	margin: auto;
	margin-top: 30px;
}
.heading, .menu, .item, .contact {
	background-color: #334433;
	opacity: 0.9;
	border-radius: 15px;
	border-bottom: solid black 2px;
	margin: 10px;
	padding: 5px;
}
.heading, .menu, .contact {
	/*background: linear-gradient(#334433, #223322)*/
	background: linear-gradient(
		to bottom, 
		rgba(20,30,20,0.2), 
		rgba(20,30,20,1));
}
.menu {
	margin-bottom: 25px;
	margin-top: 25px;
}
input, button {
	margin: 5px;
	height: 20px;
	background-color: #BBDDBB;
	border-radius: 10px;
	text-align: center;
	font-size: 100%;
	line-height: 100%;
	height: 100%;
	font-family: Georgia, serif;
}
input {
	opacity: 0.5;
}
button {
	cursor: pointer;
}
#forest {
	list-style-type: none;
	margin: 10px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}
.tree {
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 25px;
	border-radius: 25px;
	margin: 5px;
	border-bottom: solid black 2px;
	list-style-type: none;
	cursor: pointer;
}
.burn {
	box-shadow: 0 -20px 50px #DD9933;
	background-color: #DD9933;
	color: #DD9933;
}